h1{
  margin-bottom: 5px;
}
.description {
  padding-left: 15px;
  font-weight: bold;
  font-size: 20px;
}
.mode {
  cursor: pointer;
  padding-left: 500px;
  font-weight: bold;
  font-size: 30px;
}
.section-tabs {
  margin-top: 20px;
  margin-left: -10px;
    nav {
      padding-left: 20px;
      display: block;
      border-bottom: 1px solid gray;
      a {
        transition: all 0.1s ease-out;
        text-decoration: none;
        color: black;
        height: 30px;
        display: inline-block;
        padding: 10px 20px 25px 20px;
        font-weight: bold;
        font-size: 14px;
        &.active {
          height: 32px;
          color: red;
          margin-bottom: -1px;
          border: 1px solid gray;
          border-bottom: 1px solid transparent;
          background-color: white;
        }
      }
    }
   }
   